// style variables container for colors, fonts and other global styles

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');

$--c-white: rgb(222, 222, 222);
$--c-black: rgb(24, 24, 24);
$--font-main: 'Raleway', sans-serif;
$--c-text: black;

//font-sizes
$--font-xs: 10px;
$--font-sm: 14px;
$--font-md: 18px;
$--font-xl: 22px;
$--font-xxl: 28px;

//font weights
$--font-light: 300;
$--font-medium: 500;
$--font-heavy: 700;