// general

@import './reset'; // global css reset
@import './variables'; // style variables container for colors, fonts and other global styles


// pages


// components
@import './components/_navbar';
@import './components/_footer';


html * {
    // outline: 1px solid black;
}

body {
    font-family: $--font-main;
    color: $--c-black;
    background-color: $--c-white;
    min-width: 600px;
}

.section__photos {
    padding: 0;
    margin: 0;
}

.section__photos__images img {
    padding: 200px;
    padding: 0px !important;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    // opacity: .6;
}

.section__photos > .section__photos__images:not(:first-child) {
    padding: 300px 200px;
}


