.section__about {
    background-color: $--c-white;
    color: $--c-black;
    height: auto;
    padding: 300px 200px 0;
}

.section__about__main {
    display: flex;
    flex-direction: row;
    gap: 80px;

    img {
        object-fit: cover;
        border-radius: 10px;
    }
}

.section__about__contact {
    padding: 80px 0 200px;

    h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }
}

.section__about__contact__row {
    display: flex;
    flex-direction: row;
    align-items: center;

    h3 {
        font-size: 30px;
        font-weight: 400;
        margin-left: 12px;
    }
}