.footer {
    height: 400px;
    padding: 60px 200px;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    color: $--c-white;
    font-size: $--font-md;
    line-height: 40px;
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__logo {
    width: 220px;
}

.footer__column {
    text-align: center;
}

.footer__social {
    display: flex;
    gap: 10px;
    margin: 26px 0;
    height: 40px;
    width: 220px;
    align-items: center;

    img {
        width: 30px;
    }
}

.footer__return-to-top {
    cursor: pointer;
}

.footer__copyright {
    margin: 120px auto 0;
    bottom: 0px;
    opacity: 0.6;
    font-size: $--font-sm;
}
