.navbar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    // align-items: center;
    padding: 80px 120px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 30%, rgba(4, 2, 14, 0.8) 100%);
    width: 100vw;
    height: 30vh;

    color: $--c-white;
    z-index: 2;

    a {
        color: $--c-white;
        text-decoration: none;
        width: 120px;
    }

    a:hover {
        color: rgb(200,200,200);
        transition: 0.3s ease-in-out;
        text-shadow: 0px 0px 1px rgb(11, 32, 150);
    }
}

.navbar--dark {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
    color: $--c-black;

    a {
        color: $--c-black;
    }

    a:hover {
        color: $--c-black;
    }

    .navbar__logo {
        filter: invert(1);
    }

    .navbar__section__dropdown:hover .navbar__section__dropdown-link {
        background-color: rgba(208, 208, 208, 0.3);
        color: $--c-black;
        font-weight: 500;
    }

}

.navbar__content {
    display: flex;
    flex-direction: row;
    margin-top: 14px;
    justify-content: center;
    width: 100%;
    font-weight: $--font-medium;
    font-size: $--font-xl;
    // text-transform: uppercase;
    letter-spacing: 0px;
}

.navbar__logo {
    padding: 0;
}

.navbar__section-link {
    margin: 0 20px 0 0;
    width: 110px;
}

.navbar__section__dropdown {
    padding: 0;
    margin: 0 20px 0 0;
    width: 110px;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    cursor: pointer;
}

.navbar__section__dropdown-link {
    display: flex;
    opacity: 0;
    flex-direction: column;
    // position: absolute;
    font-size: $--font-md;
    font-weight: 300;
    margin-top: 4px;
    transition: all 0.3s;
}

.navbar__section__dropdown:hover .navbar__section__dropdown-link {
    opacity: 1;
    background-color: rgba(40, 40, 40, 0.9);
    padding: 4px;
}

.navbar__darkmode-toggle {
    height: 28px;
    // border-radius: 40px;
    // border: 3px solid white;
    // background-color: white;
}